body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
h5{
    font-weight: bold;
}
h6 {
    color: #000;
    font-weight: bold;
}
a {
    color: #D53886;
}
.btn {
    border-radius: 15rem;
    padding: .375rem 1.5rem;
}
.btn-primary {
    background: #4636FF;
    border-color: #4636FF;
}
.btn-secondary {
    background: #D53886;
    border-color: #D53886;
}
.btn-outline-secondary {
    border-color: #D53886;
    color: #D53886;
}
.btn-outline-secondary:hover {
    background: #D53886;
    border-color: #D53886;
}
.text-primary {
    color: #4636FF!important;
}
.text-blue {
    color: #1B0EB9!important;
}
.text-green {
    color: #16BE00!important;
}
.text-secondary {
    color: #D53886!important;
}
.bg-primary {
    background: #4636FF!important;
}
.bg-dark {
    background: #1B0EB9!important;
}
.bg-secondary {
    background: #D53886!important;
}
.bg-gradient {
    background: transparent linear-gradient(90deg, #1B18B1 0%, #773A83 100%) 0% 0% no-repeat padding-box!important;
}
.bg-info {
    background: #E0EAFD!important;
}
.bg-light {
    background: #EDEDF7!important;
}
.bg-medium {
    background: #EEF3FE!important;
}
.bg-gray {
    background: #7B7B7B!important;
}
.rounded-4 {
    border-radius: 0.5rem;
}
.green-check-round .form-check-input[type=checkbox]{
    border-radius: 50%;  
}
.green-check-round .form-check-input[type=checkbox]:focus{
    border:none;
    box-shadow:none;
}
.green-check-round .form-check-input:checked {
    background-color: #16BE00;
    border-color: #16BE00;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.form-check-input:checked {
    background-color: #fff;
    border-color: #443DF5;
}
.green-check-round .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23443DF5'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23443DF5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.text-semi-dark {
    color: #747373;
}
.text-regular {
    font-weight: normal;
}
header {
    color: #000;
}

#main-nav {
    background: transparent linear-gradient(90deg, #1B18B1 0%, #773A83 100%) 0% 0% no-repeat padding-box;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}
#hero {
    background: -webkit-image-set( url('../img/header.png') 1x, 
    url('../img/header@2x.png') 2x );
    padding-top: 15rem;
    padding-bottom: 16rem;
}
#hero h1 {
    font-weight: 300;
    font-size: clamp(32px, calc(2rem + ((1vw - 3.2px) * 0.8)), 44.8px);
}
#hero h2 {
    border: 2px solid #D53886;
    border-radius: 1rem;
    font-weight: 400;
    font-size: clamp(32px, calc(2rem + ((1vw - 13.6px) * 0.8571)), 36.8px);
}
#hero p {
    font-weight: 300;
    font-size: 1.3rem;
}
.bg-blue{
background: #EDEDF7;
}
.blurbs {
    margin-top: -7rem;
}
.blurbs img {
    max-width: 180px;
    margin: auto;
    margin-top: -30%;
}
.blurbs .card {
    box-shadow: 1px 3px 36px #0000001A;

}
.tick-list li {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.blurbs .card .tick-list li {
    font-weight: bold;
    color: #000;
}
.tick-list li:before {
    content: "";
    margin-right: 1rem;
    width: 12px;
    display: inline-block;
    height: 20px;
    border: 2px solid #D53886;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
}
.card-btn {
    width:100%;
    max-width: 260px;
    padding: 1rem 2rem;
}
.slider2 .card-btn {
    max-width:220px;
    padding: 0.8rem 1.8rem;
    color: #ffffff;
}
.card-footer-link {
    display: flex;
    text-decoration:none;
    justify-content: center;
}
.card-footer-link i {
    font-size: 24px;
    margin-right: 0.8rem;
}
.card-footer-link span {
    text-decoration: underline;
}
.slider1 .card-title {
    font-size: 2.25rem;
    color: #1B0EB9; 
}
.slider1 .card {
    box-shadow: 0px 11px 10px #0000000A;
    border: 0px;
    color: #747373;
}
.marker-primary li::marker{
    color: #1B0EB9;
}
.separator {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #1B0EB9;
}
.slider1 .card .card-body  {
    padding-left: 25px;
    padding-right: 25px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    background: #4636FF;
    opacity: 0.15;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4636FF;
    opacity: 1;
}

.vas-tab-list li { 
    width: 50%;
    border-bottom: 1px solid #433CF5;
}
.vas-tab-list li a {
    font: normal normal bold 18px/36px Lato;
    letter-spacing: 0px;
    color: #000000;
}
.vas-tab-list .nav-link.active {
    border-bottom: 4px solid #433CF5;
    color:#4636FF;
}
.news-section {
    background: transparent url(../img/news-section.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: bottom right;
}

.news-section .vas-tab-list li {
    border-bottom: 1px solid #ffffff;
}
.news-section .vas-tab-list li a {
    color: #ffffff;
}
.news-section .vas-tab-list .nav-link.active {
    border-bottom: 4px solid #ffffff;
    color:#ffffff;
}
.news-section .owl-theme .owl-dots .owl-dot span {
    background: #F1F0FD;
    opacity: 0.24;
}
.news-section .owl-theme .owl-dots .owl-dot.active span, .news-section .owl-theme .owl-dots .owl-dot:hover span  {
    background-color: #F1F0FD; 
    opacity: 1;
}
.section-vast-over h3 {
    color:#000000;
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.section-vast-over p {
    margin-bottom: 1.5rem;
}
.col-sign-up {
    background: transparent url(../img/news-section.png) top right no-repeat padding-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #ffffff;
}
.col-sign-up h5 {
    color: #D53886;
}
.rounded-ads {
    width: 180px;
    height: 180px;
    border: 2px solid #ffffff;
    margin-right: 2rem;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rounded-ads h1 {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 0;
}
.group-bg {
    background: -webkit-image-set( url('../img/group-96.png') 1x, 
    url('../img/group-96@2x.png') 2x );
    background-size: cover;
}

.middle-one {
    max-width: 750px;
}
.left-one {
    margin-top: -0.5rem;
}
.left-one:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: #4636FF;
    bottom: 0;
}
.left-one:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 400px;
    background: #4636FF;
    bottom: 0;
} 
.left-two {
    margin-top: 9rem;
}
.left-two:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: #4636FF;
    bottom: 0;
}
.left-two:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 500px;
    background: #4636FF;
    bottom: 0;
} 
.right-one {
    margin-top: 2.3rem;
}
.right-one:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: #4636FF;
    bottom: 0;
}
.right-one:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 400px;
    background: #4636FF;
    bottom: 0;
    right: 50%;
}
.right-two {
    margin-top: 2rem;
}
.right-two:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: #4636FF;
    bottom: 0;
}
.right-two:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 315px;
    background: #4636FF;
    bottom: 0;
    right: 50%;
} 

/* footer  */
.copyright-bar {
    background-color: #5A0C51;
    color: #ffffff;
    font: normal normal normal 11px/24px Lato;
}

.footer {
    padding-top: 2rem;
    background: #E0EAFD;
}
footer h6 {
    color: #243377;
    font-weight: bold;
}
.footer>.container {
    background: url(../img/footer-logo-bg.png) no-repeat;
    background-position: right bottom;
}
.footer-text {
    color: #243377
}
.footer ul li a {
  color: #4636FF;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer ul li a span{margin-left: 0.4rem;}
.footer ul li a:hover span {
    
    text-decoration: underline;
}
.footer .card-btn {
    font-size: 11px;
    padding: 0.8rem 1rem;
    max-width: 166px;
}
.footer small {
    font-size: 11px;
}
.footer .copyright-bar a {
    color:#ffffff;
}
.btn-footer {
    width: auto;
    min-width: 90px;
}
.gratis{
    right: 0.5rem;
    bottom: 0.5rem;
    left: auto;
}
.gratis a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 1.2rem;
}

.cats .nav-link {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid;
    padding: 0;
    margin: 0 1rem;
    line-height: 2.5;
    font-weight: bold;
}
.cats .nav-link.disabled {
    color: #000;
    border: none;
}
.cats .nav-link.active {
    color: #D53886;
}
.cat {
    border-radius: 0.5rem;
}
.cat .card-img, .card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.cat .det {
    font-size: 0.8rem;
    color: #443DF5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cat hr {
    background-color: #7b7b7b;
}
.cat h4 {
    font-weight: bold;
}
.owl-carousel .owl-item img {
    width: auto;
}
.car-nav .owl-carousel .owl-stage-outer {
    height: calc(100% + 30px);
    margin: -15px;
    padding: 15px;
    width: calc(100% + 30px);
}
.car-nav .owl-carousel .owl-next,
.car-nav .owl-carousel .owl-prev {
    position: absolute;
    font-size: 5rem!important;
    color: #D53886!important;
    top: calc(50% - 5rem);
    background: transparent!important;
}
.car-nav .owl-carousel .owl-prev {
    left: -50px;
}
.car-nav .owl-carousel .owl-next {
    right: -50px;
}

.breads .breadcrumb-item.active {
    color: #00132F;
}
.breads a {
    text-decoration: none;
    color: #1B0EB9;
}
.showcase {
    background: #EDEDF7;
}
.showcase a {
    text-decoration: none;
}
.showcase h1 {
    font-weight: bold;
}
.sale {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6e3789+0,221bae+100 */
    background: #6e3789; /* Old browsers */
    background: -moz-linear-gradient(left,  #6e3789 0%, #221bae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #6e3789 0%,#221bae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #6e3789 0%,#221bae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e3789', endColorstr='#221bae',GradientType=1 ); /* IE6-9 */
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px 0 10px 0;
}
.sale img {
    display: inline-block!important;
}
.video-img:after {
    content: '';
    width: 40px;
    height: 40px;
    background: url(../img/play.svg) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: -20px;
}
.text-fade {
    position: relative;
}
.text-fade:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.9));
}
.hr-light {
    background-color: #999;
}
.list-tick li {
    position: relative;
    padding-left: 35px;

}
.list-tick li::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/tick.png) no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
}
.content {
    line-height: 1.7;
}
.side-form input.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    padding-left: 0;
}
.side-form .form-check-input[type=checkbox] {
    border-color: #4636FF;
}
.d-badge {
    background: url(../img/d-green-back.svg) no-repeat top right;
    display: inline-block;
    position: absolute;
    right: -27px;
    top: 36%;
    padding-top: 30px;
    color: #fff;
    text-align: center;
}
.d-badge h4 {
    background: url(../img/d-green.svg) no-repeat;
    background-size: cover;
    padding: 10px 35px;
    margin-bottom: 0;
}
.d-badge h4 span {
    display: block;
    font-size: 70%;
}
.d-lgreen {
    background: url(../img/d-lgreen-back.svg) no-repeat top right;
}
.d-lgreen h4 {
    background: url(../img/d-lgreen.svg) no-repeat;
    background-size: cover;
}
.d-yellow {
    background: url(../img/d-yellow-back.svg) no-repeat top right;
}
.d-yellow h4 {
    background: url(../img/d-yellow.svg) no-repeat;
    background-size: cover;
}
.mw-611{
    max-width: 611px;
}
.h-750{
    height:750px;
}
.mt-550{
    margin-top: -550px;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#progressbar:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    /* left: -50%; */
    top: 10px;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
   display: flex;
    float: left;
    position: relative;
    background-color: #fff;
    padding: 0px 10px;
    align-items: center;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #16BE00;
    color: white;
}
#progressbar li.active img{
    position: absolute;
    top: 3px;
    width: 15px;
    left: 3px;
}

#progressbar li.active:before{
    content:',';
    background-position: center;
    font-size: 0px;
    width: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    
}
#progressbar li h6{
    font-size: 15px;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
   height:20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #fff;
    background: #1B0EB9;
    border-radius: 10px;
   
    text-align: center;
}
.alert-form input{
    border:1px solid #A19DFA;
}
.form-check-custom{
    border-radius: 3px;
    border:1px solid #443DF599;
    columns:3;
}
.tick-list.green-tick li:before{
    border-color: #16BE00;
    border-left-color: transparent;
    border-top-color: transparent;
    margin-right: 1rem;
    width: 12px;
    display: inline-block;
    height: 20px;
    transform: rotate(45deg);
}
.sidebar-dark{
    background: transparent linear-gradient(
        180deg, #1B18B1 0%, #773A83 100%) 0% 0% no-repeat padding-box;
}
.left-bar {
    height: 100%;
    max-width: 275px;
    width: 100%;
    background: transparent linear-gradient(
180deg, #1B18B1 0%, #773A83 100%) 0% 0% no-repeat padding-box;
   
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 99;
    background-size: cover;
}
.mw-100p{
    max-width: 100px!important;
}
.number-list{
    padding-left: 0px;
    counter-reset: step;
    display: flex;
    flex-direction: column;
}
.number-list li{
    list-style-type: none;
    color: #000;
    
   
    display: flex;
    float: left;
    position: relative;
    background-color: #fff;
    padding: 0px 0px;
    padding-left: 30px;
    align-items: center;
   
   
}
.number-list li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #fff;
    background: #D53886;
    border-radius: 50%;
    text-align: center;
    top: 5px;
    position: absolute;
    left: 0;
}
.m-m-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.left-bar hr {
    background-color: #7b7b7b;
    opacity: inherit;
}
.mobile-menu ul li{
    list-style: none;
}
.mobile-menu ul li a{
    font-size: 17px;
    color: #fff;
    position: relative;
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-left: 5px solid transparent;
}
.mobile-menu ul li a:hover, .mobile-menu ul li a.active{
    background-color: #4636FF;
    border-left:5px solid #D53886;
}
.mobile-menu ul li a img{
    position: absolute;
    left:1rem;
    max-width: 15px;
    width: 100%;
    top: 13px;
}
.bg-watermerk{
    background-image: url(../img/watermerk.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: #EEF3FE!important;
}
.toggled .profile{
    flex-direction: column;
}
.toggled .m-m-footer{
    font-size: 10px;
    text-align: center;
}
.toggled .profile .text-white{
    margin-left: 0px!important;
}
.toggled li.p-5{
    padding: 1rem !important;;
}
.topbar #sidebarToggleTop{
    align-items: center;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}
.topbar #sidebarToggleTop:hover{
    text-decoration: none;
}
.toggled .mobile-menu li a{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0.5rem;


}
.toggled .mobile-menu li a img{
    position: inherit;
    left: inherit;
    top: inherit;
}
.toggled .profile h6{
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}
.toggled .profile p{
    font-size: 7px;
    text-align: center;
}
/* gallery tab  */ 
.gallery-tabs a {
    color: rgb(0,113,179)
}
/* lightbox */
html.a-html{
    position: inherit;
}
body.a-body{
    overflow: inherit;
}
/** LIGHTBOX MARKUP **/

.lightbox1 {
/* Default to hidden */
display: none;

/* Overlay entire screen */
position: fixed;
z-index: 999;
top: 0;
left: 0;
right: 0;
bottom: 0;

/* A bit of padding around image */
padding: 1em;

/* Translucent background */
background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox1:target {
display: block;
}

.lightbox1 span {
/* Full width and height */
display: block;
width: 100%;
height: 100%;

/* Size and position background image */
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
@media (max-width: 1399px) {
    #progressbar li h6{
        font-size: 10px;
    }
    #progressbar{
        max-width:100%;
        padding-left: 0px;
    }
    .middle-one {
        max-width: 670px;
    }
    .left-one {
        margin-top: -8%;
    }
    .left-one:after {
        width: 350px;
    }
    .left-two {
        margin-top: 52%;
    }
    .left-two:after {
        width: 440px;
    }
    .right-one {
        margin-top: 10%;
    }
    .right-one:after {
        width: 350px;
    }
    .right-two {
        margin-top: 7%;
    }
    .right-two:after {
        width: 270px;
    }
   
}

@media (max-width: 1199px) {
    .mbp {
        font-size: 12px;
    }
    .middle-one {
        max-width: 600px;
    }
    .left-one {
        margin-top: -6%;
    }
    .left-one::after {
        width: 300px;
    }
    .left-two {
        margin-top: 65%;
    }
    .left-two::after {
        width: 380px;
    }
    .right-one {
        margin-top: 14%;
    }
    .right-one::after {
        width: 300px;
    }
    .right-two {
        margin-top: 12%;
    }
    .right-two:after {
        width: 230px;
    }
    .d-badge {
        top: 44%;
    }
}
@media (min-width: 991px) {
    .mt-n2rem {
        /* margin-top:-2rem; */
    }
    .rounded-ads+div {
        max-width: calc(100% - 180px - 2rem);
    }
}
@media (max-width: 991px) {
    
    .navbar-nav {
        background-color: #D53886;
    }
    #hero {
       padding-bottom: 5rem;
    }
    .blurbs .card {
        margin-top: 35%;
    }
    .blurbs .col-lg-4:first-child .card {
        margin-top: 50%;
    }
    .col-sign-up {
        background-size: cover;
        background-position: center bottom;
    }
    .rounded-ads { 
        margin: auto;
        margin-bottom: 2rem;
    }
    .blurbs .card .tick-list li {
        width: 50%;
    }
    .blurbs .tick-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer .card-btn:not(.btn-footer) {
        margin-bottom: 24px;
    }

    .demos:after,
    .demos:before {
        display: none;
    }
    .demos {
        margin: 0 0 10px;
    }
    .mbp {
        font-size: 1rem;
    }
    #topbar {
        display: none;
    }
    .d-badge {
        top: 34%;
    }
}
@media (min-width: 768px) {
    .sidebar {
        width: 18rem!important;
    }
}
@media (max-width: 767px) {
   
    .navbar-nav li.p-5 {
        padding: 1rem !important;
    }
    .m-m-footer{
        font-size: 10px;
    }
    .bg-watermerk{
        background-position: bottom;
    }
     .profile{
        flex-direction: column;
    }
    .profile .text-white{
        margin-left: 0px!important;
    }
    .mobile-menu ul li a{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5rem 0.5rem;

    }
    .mobile-menu ul li a img{
        position: inherit;
        left: inherit;
        top: inherit;
    }
    .profile h6{
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
    }
    .profile p{
        font-size: 7px;
        text-align: center;
    }
    #progressbar{
        flex-direction: column;
    }
    #progressbar li{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    #progressbar li h6{
        font-size: initial;
    }
    .form-check-custom{
        columns: 2;
    }
    .d-badge {
        top: 49%;
    }
    .car-nav .owl-carousel .owl-nav {
        display: none;
    }
}

@media (max-width: 575px) {
    .form-check-custom{
        columns: 1;
    }
   html {
       font-size: 14px;
   }
   .slider2 .card-btn {
       max-width: 100%;
       width: auto;
   }
   .blurbs .card .tick-list li {
        width: 70%;
    }
    .d-badge {
        top: 43%;
    }
}
